@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;700&display=swap');



body {
background-color: #FAFAFA;
font-family: 'Instrument Sans', sans-serif;
}
.hide-scrollbar {
  overflow: hidden;
  scrollbar-width: none; /* For Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
